[submodule "nvim"]
	path = nvim
	url = https://github.com/NvChad/NvChad.git
[submodule "dwm"]
	path = dwm
	url = https://github.com/Tigermouthbear/dwm.git
[submodule "slock"]
	path = slock
	url = https://github.com/Tigermouthbear/slock.git
[submodule "st"]
	path = st
	url = https://github.com/lukesmithxyz/st
